<div class="about">
	<h2 class="headline">About</h2>
	<div class="container">
		<div class="row">
			<p>This will be the about information</p>
		</div>
	</div>
</div>
<div class="portfolio">
	<h2 class="headline">Portfolio</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Work Number 1</p>
			</div>
			<div class="col-md-4">
				<p>Work Number 2</p>
			</div>
			<div class="col-md-4">
				<p>Work Number 3</p>
			</div>
		</div>
	</div>
</div>
<div class="recent_posts">
	<h2 class="headline">Blog</h2>
	<div class="container">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-md-6">
					<div class="post_main">
						<h2><%= link_to post.title, post %></h2>
						<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
						<div class="post-content">
							<%= truncate post.body, length: 160 %><br>
							<button class="btn readmore"><%= link_to 'read more', post %></button>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="services">
	<h2 class="headline">Services</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Service Name</p>
			</div>
			<div class="col-md-4">
				<p>Service Name</p>
			</div>
			<div class="col-md-4">
				<p>Service Name</p>
			</div>
		</div>
	</div>
</div>