<div id="intro_content">
  <div class="container">
  	<div id="intro_wrapper">
  		<h1>I'm Darrell Richards</h1>
  		<h3>Web Designer + Developer</h3>
  		<hr><hr>
  		<p>Awesome Web Experiences</p>
  		<a href="#portfolio" class="intro_button"><i class="fa fa-arrow-down fa-1x"></i></a>
  	</div>
  </div>
</div>


<nav class="navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar -->
  </div><!-- /.container-fluid -->
</nav>

<div class="portfolio" id="portfolio">
	<h2 class="headline">Portfolio</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Work Number 1</p>
			</div>
			<div class="col-md-4">
				<p>Work Number 2</p>
			</div>
			<div class="col-md-4">
				<p>Work Number 3</p>
			</div>
		</div>
	</div>
</div>
<div class="recent_posts">
	<h2 class="headline">Blog</h2>
	<div class="container">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-md-6">
					<div class="post_main">
						<h2><%= link_to post.title, post %></h2>
						<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
						<div class="post-content">
							<%= truncate post.body, length: 160 %><br>
							<%= link_to 'read more', post, class: "btn readmore" %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="services">
	<h2 class="headline">Services</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Service Name</p>
			</div>
			<div class="col-md-4">
				<p>Service Name</p>
			</div>
			<div class="col-md-4">
				<p>Service Name</p>
			</div>
		</div>
	</div>
</div>

<footer>
	This is a footer
</footer>