<h2 class="headline">Work</h2>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			  <div class="project">
		          <img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" />
		          <span class="text-content"><span>Personal Site</span></span>
			  </div>
		</div>
     	<div class="col-md-4">
			  <div class="project">
          			<img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
         			 <span class="text-content"><span>Another Site</span></span>
			  </div>
		</div>
      	<div class="col-md-4">
			  <div class="project">
          			<img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          			<span class="text-content"><span>Travel Show</span></span>
			  </div>
		</div>
      	<div class="col-md-4">
			  <div class="project">
          			<img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          			<span class="text-content"><span>That Landscaping</span></span>
			  </div>
		</div>
      	<div class="col-md-4">
			  <div class="project">
          			<img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          			<span class="text-content"><span>Why so serious?</span></span>
			  </div>
		</div>
      	<div class="col-md-4">
			  <div class="project">
          			<img src="http://media.brownsteingroup.com/images/backgrounds/portfolioBG.jpg" height="300" width="300"/>
          			<span class="text-content"><span>This is a Awesome Company</span></span>
			  </div>
		</div>
	</div>
</div>
