<h1>New Project</h1>
<% if @project.errors.any? %>
	<h2><%= pluralize(@project.errors.count, "error")  %></h2>
	<ul>
		<% @project.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= render 'form'  %>