<div class="list_posts">
	<h2 class="headline">Blog</h2>
	<div class="container">
		<div class="row">
			<% @posts.each do |post| %>
			<div class="col-md-12">
				<div class="post_main">
					<h2><%= link_to post.title, post, class: "post_link" %></h2>
					<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
					<div class="post-content">
						<%= truncate post.body, length: 700 %><br><br>
						<%= link_to 'Read More', post, class: "readmore" %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>