body{
	background-color: #F1F2F7;
	padding: 0;
	margin: 0;
	font-family: 'open-sans';
}
#intro_wrapper{
	max-width: 50%;
	margin: 25% auto;
	font-weight: 100;
	font-family: 'raleway';
	text-align: center;
	color: $white;
	.intro_button{
		border:1px solid $white;
		padding: 20px;
		border-radius: 50%;
		color: $white;
		&:hover{
			border: 1px solid #33CD99;
			//background: #33CD99;
			color: #33CD99;
		}
	}
	p{
		font-size: 1.9rem;
		letter-spacing: .5rem;
		margin-bottom: 20%;
	}
	h1{
		font-size: 2em;
	}
	h1,h3{
		text-transform: uppercase;
		font-weight:100;
	}
	h3{
		padding-bottom: 15px;
		font-weight: 100;
	}
}



#intro_content{
	background-image: url("../images/intro_bg.jpg");
	background-size: cover;
	height: 733px;
}

/* Boring Bootstrap CSS overwrites */
.navbar-default {
    background-color: rgba(43,119,105,0.4);
    border-color: transparent;
    position: absolute;
    z-index: 1000;
    width: 100%;
    min-height: 30px;
   
    a{
    	color: $white!important;
    }
    .navbar-brand{
		font-family: $raleway;
		font-weight: 300;
		opacity: .6;
		letter-spacing: .2em;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.current-menu-item {
    border-bottom: 1px solid white;
}

