$white: #ffffff;
$black: #000000;
$open: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";

.headline{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	text-transform: uppercase;
	color: #32323a;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	letter-spacing: 3.5px;
	box-shadow: 0 .1px .1px #E6E7EB;
	margin-top: 0px;
}

/* Navbar */

#sidemenu{
	background: #3DAD97;
	width: 100%;
	height: 733px;
	opacity: 0;
	display: block;
	position: absolute;
	top: 0;
	transition: left 0.3s linear;
	float: left;
	ul{
		margin: 0;
		margin-top: 100px;
		padding: 0;
		li{
			list-style-type: none;
			a{
				color: white;
				text-align: center;
				border-bottom: 1px solid #45bda8;
				display: block;
				padding: 30px;
				text-decoration: none;
				&:hover{
					background: #45bda8;
				}
			}
		}
	}
}

#sidemenu.visiable{
		opacity: 1!important;
		transition: left 0.3s linear;
	}

#intro_content{
	background-image: image-url("intro_bg.jpg");
	background-size: cover;
	height: 733px;
	#right_side_menu{
		    display: inline-block;
		    vertical-align: middle;
		    width: 20px;
		    height: 15px;
		    margin: 30px;
		    cursor: pointer;
		    position: absolute;
		    top: 0;
		    text-align: right;
		    right: 120px;
		span{
			height: 1px;
		    background: #226056;
		    margin-bottom: 5px;
		    display: block;
		}
	}
}

footer{
	background: #191919;
	color: $white;
	text-align: center;
	padding: 2rem 0;
	margin-top: 2rem;
}

/* comments section */

#comments {
    color: #32323a;
    font-size: 24px;
    margin-bottom: 30px;
}

#commentform{
	text-align: center;
	margin-top: 5%;
}



/* Comment From CSS */

label {
    display: block;
		text-align: left;
    font-weight: 300;
    font-family: $raleway;
}

#commentform input, textarea{
	font-family: $raleway;
    color: #ababab;
		width:100%;
}

#commentform textarea{
	height: 200px;
}

#commentform input#submit {
    background: #1fb5ac;
    border: none;
    color: white;
    padding: 13px;
    border-radius: 12px;
}

/* Sidebar Styles */

.sidebar{
    padding: 15px;
    background: white;
}

.sidebar h3{
	font-weight: 300;
	opacity: .9;
	font-size: 20px;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 6px;
	width: 70%;
}
.sidebar h4{
	font-weight: 400;
	opacity: .7;
	font-size: 15px;
}

.sidebar ul li{
	list-style-type: none;
	text-align: left;
	padding-left: 0;
	font-size: 15px;
	margin-left: -40px;
}

.sidebar a{
	color: #2B2E2E;
}
.sidebar a:hover{
	text-decoration: none;
	color: #33CD99;
}

.sidebar .post-date{
	opacity: .4;
	font-size: 11px;
}

.project{
	display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
	img{
		border: 6px solid $white;
		width: 100%;
		height: 300px;
	}
}

span.text-content {
  background: rgba(61, 173, 151,0.8);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(61, 173, 151,0.8);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
	font-size: 1.4em;
  opacity: 0;
}

.project:hover span.text-content {
  opacity: 1;
}


@import 'homepage';
@import 'posts';
@import 'media';
